<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "shared/navbar" unless current_page?(new_user_session_path) %>
  
  <%= flash_messages %>
  
  <%= yield %>

  <%= render 'layouts/footer' unless current_page?(new_user_session_path) %>
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
